<!-- https://betterprogramming.pub/using-css-subgrid-for-pixel-perfection-6d4343b057cd -->
<head>
	<title>Grid Playground</title>
	<meta charset="UTF-8" />
</head>
<body>
	<div id="container">
		<div id="first-content">
			<div class="item palette-1">Texto muy largopara ocupar más de dos lineas o más</div>
			<div class="item palette-2">Content</div>
			<div class="item palette-1">Footer</div>
		</div>
		<div id="second-content">
			<div class="item palette-1">Title</div>
			<div class="item palette-2">Content</div>
			<div class="item palette-1">Footer</div>
		</div>
	</div>
</body>
