<head>
	<title>Grid Playground</title>
	<meta charset="UTF-8" />
</head>
<body>
	<div id="container">
		<div id="first-content">
			<div class="item palette-1">PMP</div>
			<!-- <div class="item palette-2"><app-retrasometro></app-retrasometro></div> -->
			<div class="item palette-2"><app-gauge></app-gauge></div>
			<div class="item palette-1">
				<p>Periodo máximo: 30 días</p>
				<p>Normativa: Ley 2/2012</p>
			</div>
		</div>

		<div id="second-content">
			<div class="item palette-1">Rendición Cuenta General 2019</div>
			<div class="item palette-2"><app-gauge></app-gauge></div>
			<div class="item palette-1">
				<p>Fecha máxima: 15 mayo 2020</p>
				<p>Normativa: Art. 212.1 TRLRHL</p>
			</div>
		</div>

		<div id="third-content">
			<div class="item palette-1">Rendición Cuenta General 2020</div>
			<div class="item palette-2"><app-gauge></app-gauge></div>
			<div class="item palette-1">
				<p>Fecha máxima: 15 mayo 2021</p>
				<p>Normativa: Art. 212.1 TRLRHL</p>
			</div>
		</div>

		<div id="four-content">
			<div class="item palette-1">Liquidacion presupuesto 2020</div>
			<div class="item palette-2"><app-gauge></app-gauge></div>
			<div class="item palette-1">
				<p>Fecha máxima: 31 marzo 2021</p>
				<p>Normativa: Ley 2/2012</p>
			</div>
		</div>

		<div id="five-content">
			<div class="item palette-1">Aprobación presupuesto 2021</div>
			<div class="item palette-2"><app-gauge></app-gauge></div>
			<div class="item palette-1">
				<p>Fecha máxima: 31 diciembre 2020</p>
				<p>Normativa: Art. ### TRLRHL</p>
			</div>
		</div>

		<div id="six-content">
			<div class="item palette-1">A determinar</div>
			<div class="item palette-2"><app-gauge></app-gauge></div>
			<div class="item palette-1">
				<p>Periodo máximo: 30 días</p>
				<p>Fijado por: Ley 7/2014</p>
			</div>
		</div>
	</div>
</body>
