// Mis parciales.
// https://www.udemy.com/course/advanced-css-and-scss/learn/lecture/8274478#overview
@import "/src/app/scss/animations";
@import "/src/app/scss/base";
@import "/src/app/scss/functions";
@import "/src/app/scss/mixins";
@import "/src/app/scss/typography";
@import "/src/app/scss/utilities";
@import "/src/app/scss/variables";

// @import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
// @import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/legacy/ag-theme-balham-v22-compat.scss";

// #region OCM
.OCM-app-root {
    width: 98vw;
    min-height: 100vh;
    margin-left: 20px;
    display: grid;
    grid-template-rows: 40px auto 40px;
}

.OCM-navbarFooter {
    a {
        text-decoration: none;
        color: white;
    }
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: map-get($OCM-colors, navBarBackground);
    &--brand {
        display: flex;
        justify-content: space-between;
        &--logo {
            @include OCM-logo;
            background: url("./assets/img/logoOCMyellow.svg") no-repeat center center;
        }
        &--text {
            @include OCM-text;
            font-size: 12px;
        }
    }
    &--title {
        @include OCM-text;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
    }
    &--rrss {
        display: flex;
        flex-direction: row;
        .logoFacebook {
            @include OCM-logo;
            background: url("./assets/img/facebook.svg") no-repeat center center;
        }
        .logoTwitter {
            @include OCM-logo;
            background: url("./assets/img/twitter.svg") no-repeat center center;
        }
    }
    &--homeEmpty {
        display: flex;
        flex-direction: row;
        width: 246px;
    }
    &--home {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 246px;
        .logoHome {
            @include OCM-logo;
            background: url("./assets/img/home.svg") no-repeat center center;
            margin-right: 20px;
        }
    }
    &--mail {
        @include OCM-text;
        text-decoration-style: none;
        margin-right: 20px;
        a:hover {
            transform: scale(1.2);
        }
    }
}

.OCM-text {
    &--cabecera {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        font-weight: 900;
        margin-top: 1rem;
        color: black;
        font-family: var(--fuente-principal);
        // https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
        font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
        // text-shadow: 0.4rem 0.4rem 0.4rem #aaa;
        text-align: center;
    }
    &--subtitulo {
        text-align: center;
        font-size: clamp(1rem, -0.875rem + 8.333vw, 1.5rem);
    }

    &--años {
        color: map-get($OCM-colors, claro);
        margin-bottom: 0.2rem;
    }

    &--ingresos {
        color: map-get($OCM-colors, claro);
    }

    &--gastos {
        color: map-get($OCM-colors, claro);
    }

    &--comparativas {
        color: map-get($OCM-colors, claro);
    }
}
